{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://api-sandbox.circle.com"
    }
  ],
  "info": {
    "version": "2.13.0",
    "title": "Payments API",
    "description": "The Circle Payments API allows you to take payments from your end users via traditional methods such as debit & credit cards and receive settlement in USDC.\n\nThe Circle Payments API has been designed with any business or internet commerce in mind, not just crypto applications, and it's based on Circle's extensive experience processing millions of card payments since 2014.\n"
  },
  "tags": [
    {
      "name": "Payments",
      "description": "Create, cancel, refund, and get updates on card payments."
    },
    {
      "name": "Pull Crypto Payments",
      "description": "Create pull crypto payments and generate typed messages for signing."
    },
    {
      "name": "Crypto Payment Intents",
      "description": "Create and track intent for end user to pay via crypto."
    },
    {
      "name": "Cards",
      "description": "Link, update, and get information on debit/credit cards."
    },
    {
      "name": "Payment Tokens",
      "description": "Create Apple Pay and Google Pay payment tokens."
    },
    {
      "name": "Settlements",
      "description": "Get information on settlement batches."
    },
    {
      "name": "Chargebacks",
      "description": "Get information on card chargebacks."
    },
    {
      "name": "Balances",
      "description": "Get information on settled and unsettled balances."
    },
    {
      "name": "Checkout Sessions",
      "description": "Create, get, extend a checkout session."
    }
  ],
  "paths": {
    "/v1/payments": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a payment",
        "operationId": "createPayment",
        "tags": [
          "Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a payment.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreatePaymentResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DetailedPayment"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "type": "payment",
                        "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                        "merchantWalletId": "212000",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "source": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "card"
                        },
                        "description": "Payment",
                        "status": "pending",
                        "captured": false,
                        "captureAmount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "captureDate": "2020-04-10T02:13:30.000Z",
                        "requiredAction": {
                          "type": "three_d_secure_required",
                          "redirectUrl": "https://example.org"
                        },
                        "verification": {
                          "avs": "D",
                          "cvv": "not_requested",
                          "threeDSecure": "pass",
                          "eci": "00"
                        },
                        "cancel": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "cancel",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "originalPayment": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "payment",
                            "amount": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "description": "Payment",
                            "status": "pending",
                            "requiredAction": {
                              "type": "three_d_secure_required",
                              "redirectUrl": "https://example.org"
                            },
                            "fees": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        },
                        "refunds": [
                          {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "refund",
                            "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                            "merchantWalletId": "212000",
                            "amount": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "source": {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "card"
                            },
                            "description": "Payment",
                            "status": "pending",
                            "originalPayment": {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "payment",
                              "amount": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "description": "Payment",
                              "status": "pending",
                              "requiredAction": {
                                "type": "three_d_secure_required",
                                "redirectUrl": "https://example.org"
                              },
                              "fees": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "createDate": "2020-04-10T02:13:30.000Z"
                            },
                            "cancel": {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "cancel",
                              "description": "Payment",
                              "status": "pending",
                              "createDate": "2020-04-10T02:13:30.000Z"
                            },
                            "fees": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                            "createDate": "2020-04-10T02:13:30.000Z",
                            "updateDate": "2020-04-10T02:13:30.000Z"
                          }
                        ],
                        "fees": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "trackingRef": "24910599141085313498894",
                        "errorCode": "payment_failed",
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Source"
          },
          {
            "$ref": "#/components/parameters/SettlementId"
          },
          {
            "$ref": "#/components/parameters/PaymentIntentId"
          },
          {
            "$ref": "#/components/parameters/PaymentSourceType"
          },
          {
            "$ref": "#/components/parameters/PaymentStatus"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageAfter"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "summary": "List all payments",
        "operationId": "listPayments",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of payments.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListPaymentsResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/FiatPayment"
                          },
                          {
                            "$ref": "#/components/schemas/CryptoPayment"
                          },
                          {
                            "$ref": "#/components/schemas/FiatCancel"
                          },
                          {
                            "$ref": "#/components/schemas/FiatRefund"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Fiat Payment": {
                    "value": {
                      "data": [
                        {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "payment",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "fromAmount": {
                            "amount": "3.14",
                            "currency": "EUR"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "captured": false,
                          "captureAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "captureDate": "2020-04-10T02:13:30.000Z",
                          "requiredAction": {
                            "type": "three_d_secure_required",
                            "redirectUrl": "https://example.org"
                          },
                          "cancel": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "cancel",
                            "description": "Payment",
                            "status": "pending",
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "refunds": [
                            {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "payment",
                              "amount": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "description": "Payment",
                              "status": "pending",
                              "requiredAction": {
                                "type": "three_d_secure_required",
                                "redirectUrl": "https://example.org"
                              },
                              "fees": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "createDate": "2020-04-10T02:13:30.000Z"
                            }
                          ],
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        }
                      ]
                    }
                  },
                  "Crypto Payment": {
                    "value": {
                      "data": [
                        {
                          "id": "66c56b6a-fc79-338b-8b94-aacc4f0f18de",
                          "type": "payment",
                          "status": "paid",
                          "amount": {
                            "amount": "1.00",
                            "currency": "USD"
                          },
                          "fees": {
                            "amount": "0.01",
                            "currency": "USD"
                          },
                          "networkFees": {
                            "amount": "0.01",
                            "currency": "USD",
                            "feePayer": "endUser"
                          },
                          "merchantId": "f1397191-56e6-42fd-be86-0a7b9bd91522",
                          "merchantWalletId": "1000999922",
                          "paymentIntentId": "6e4d4047-db14-4c09-b238-1215aee50d03",
                          "settlementAmount": {
                            "amount": "1.00",
                            "currency": "USD"
                          },
                          "fromAddresses": {
                            "chain": "ETH",
                            "addresses": [
                              "0x0d4344cFF68F72A5B9Abded37CA5862941a62050"
                            ]
                          },
                          "depositAddress": {
                            "chain": "ETH",
                            "address": "0x97de855690955e0da79ce5c1b6804847e7070c7f"
                          },
                          "transactionHash": "0x7351585460bd657f320b9afa02a52c26d89272d0d10cc29913eb8b28e64fd906",
                          "createDate": "2022-07-21T20:16:35.092852Z",
                          "updateDate": "2022-07-21T20:19:24.719313Z"
                        }
                      ]
                    }
                  },
                  "Fiat Cancel": {
                    "value": {
                      "data": [
                        {
                          "id": "2dc266f5-0658-48ec-a81f-9c768279564d",
                          "type": "cancel",
                          "status": "confirmed",
                          "description": "Cancel Payment",
                          "amount": {
                            "amount": "10.00",
                            "currency": "USD"
                          },
                          "createDate": "2022-04-21T21:50:34.274Z",
                          "updateDate": "2022-04-21T21:50:34.647839Z",
                          "merchantId": "b1e4e9fe-0bf1-43ad-86c7-3ab993b0051b",
                          "merchantWalletId": "1000174786",
                          "source": {
                            "id": "bc9157fe-5d73-48fe-9e77-9f6723bdcfeb",
                            "type": "card"
                          },
                          "originalPayment": {
                            "id": "2812f549-062a-4bdd-8ee5-b521aa48a84d",
                            "type": "payment",
                            "status": "failed",
                            "createDate": "2022-04-21T21:47:41.501Z",
                            "updateDate": "2022-04-21T21:50:34.669012Z"
                          },
                          "reason": "requested_by_customer"
                        }
                      ]
                    }
                  },
                  "Fiat Refund": {
                    "value": {
                      "data": [
                        {
                          "id": "03fbe7da-096a-4763-af77-e43006cd83be",
                          "type": "refund",
                          "status": "paid",
                          "description": "Refund Payment",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "fees": {
                            "amount": "0.00",
                            "currency": "USD"
                          },
                          "createDate": "2022-04-21T12:49:21.146Z",
                          "updateDate": "2022-04-21T12:54:10.596976Z",
                          "merchantId": "b1e4e9fe-0bf1-43ad-86c7-3ab993b0051b",
                          "merchantWalletId": "1000174786",
                          "source": {
                            "id": "45fa5524-41b9-48ca-94cd-f45cb36cce4d",
                            "type": "card"
                          },
                          "originalPayment": {
                            "id": "895f8db5-1d8c-407d-9533-b5ca3fbcc74e",
                            "type": "payment",
                            "status": "paid",
                            "createDate": "2022-04-06T19:33:29.690Z",
                            "updateDate": "2022-04-06T19:47:23.681180Z"
                          },
                          "reason": "requested_by_customer"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      }
    },
    "/v1/payments/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a payment",
        "operationId": "getPayment",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "description": "Successfully retrieved a payment.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetPaymentResponse",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/FiatPaymentPolymorphic"
                        },
                        {
                          "$ref": "#/components/schemas/CryptoPayment"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Fiat Payment": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "type": "payment",
                        "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                        "merchantWalletId": "212000",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "fromAmount": {
                          "amount": "3.14",
                          "currency": "EUR"
                        },
                        "source": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "card"
                        },
                        "description": "Payment",
                        "status": "pending",
                        "requiredAction": {
                          "type": "three_d_secure_required",
                          "redirectUrl": "https://example.org"
                        },
                        "verification": {
                          "avs": "D",
                          "cvv": "not_requested",
                          "threeDSecure": "pass",
                          "eci": "00"
                        },
                        "originalPayment": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "payment",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "captured": false,
                          "captureAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "captureDate": "2020-04-10T02:13:30.000Z",
                          "requiredAction": {
                            "type": "three_d_secure_required",
                            "redirectUrl": "https://example.org"
                          },
                          "cancel": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "cancel",
                            "description": "Payment",
                            "status": "pending",
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "refunds": [
                            {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "payment",
                              "amount": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "description": "Payment",
                              "status": "pending",
                              "requiredAction": {
                                "type": "three_d_secure_required",
                                "redirectUrl": "https://example.org"
                              },
                              "fees": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "createDate": "2020-04-10T02:13:30.000Z"
                            }
                          ],
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        },
                        "cancel": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "cancel",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "originalPayment": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "payment",
                            "amount": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "description": "Payment",
                            "status": "pending",
                            "requiredAction": {
                              "type": "three_d_secure_required",
                              "redirectUrl": "https://example.org"
                            },
                            "fees": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        },
                        "refunds": [
                          {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "refund",
                            "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                            "merchantWalletId": "212000",
                            "amount": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "source": {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "card"
                            },
                            "description": "Payment",
                            "status": "pending",
                            "originalPayment": {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "payment",
                              "amount": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "description": "Payment",
                              "status": "pending",
                              "requiredAction": {
                                "type": "three_d_secure_required",
                                "redirectUrl": "https://example.org"
                              },
                              "fees": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "createDate": "2020-04-10T02:13:30.000Z"
                            },
                            "cancel": {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "cancel",
                              "description": "Payment",
                              "status": "pending",
                              "createDate": "2020-04-10T02:13:30.000Z"
                            },
                            "fees": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                            "createDate": "2020-04-10T02:13:30.000Z",
                            "updateDate": "2020-04-10T02:13:30.000Z"
                          }
                        ],
                        "fees": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "trackingRef": "24910599141085313498894",
                        "externalRef": "YYYYMMDDXXXXXXXX012345",
                        "errorCode": "payment_failed",
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  },
                  "Crypto Payment": {
                    "value": {
                      "data": {
                        "id": "66c56b6a-fc79-338b-8b94-aacc4f0f18de",
                        "type": "payment",
                        "status": "paid",
                        "amount": {
                          "amount": "1.00",
                          "currency": "USD"
                        },
                        "fees": {
                          "amount": "0.01",
                          "currency": "USD"
                        },
                        "networkFees": {
                          "amount": "0.01",
                          "currency": "USD",
                          "feePayer": "endUser"
                        },
                        "merchantId": "f1397191-56e6-42fd-be86-0a7b9bd91522",
                        "merchantWalletId": "1000999922",
                        "paymentIntentId": "6e4d4047-db14-4c09-b238-1215aee50d03",
                        "settlementAmount": {
                          "amount": "1.00",
                          "currency": "USD"
                        },
                        "fromAddresses": {
                          "chain": "ETH",
                          "addresses": [
                            "0x0d4344cFF68F72A5B9Abded37CA5862941a62050"
                          ]
                        },
                        "depositAddress": {
                          "chain": "ETH",
                          "address": "0x97de855690955e0da79ce5c1b6804847e7070c7f"
                        },
                        "transactionHash": "0x7351585460bd657f320b9afa02a52c26d89272d0d10cc29913eb8b28e64fd906",
                        "createDate": "2022-07-21T20:16:35.092852Z",
                        "updateDate": "2022-07-21T20:19:24.719313Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/{id}/capture": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureCreationRequest"
              }
            }
          }
        },
        "summary": "Capture a payment (BETA)",
        "description": "Warning: Please contact Circle support if you are planning on using this feature.\n\nThe given amount will be captured for the authorized payment if possible. If no amount is specified, the full amount\nwill be captured. You can only capture once per authorization.\n\nA successful response does *not* mean the payment has been captured. It only means the capture request was successfully submitted.\n",
        "operationId": "capturePayment",
        "tags": [
          "Payments"
        ],
        "responses": {
          "202": {
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "description": "Payment capture successfully initiated."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/{id}/cancel": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelCreationRequest"
              }
            }
          }
        },
        "summary": "Cancel a payment",
        "description": "The payment will be voided if possible meaning the payment source will not be charged & the payment will never settle.\nOtherwise, the payment will be refunded meaning the payment source will be charged & the payment will be refunded from deductions of future settlements.\nNot all payments are eligible to be cancelled.\n\nA successful response does *not* mean the payment has been cancelled; it only means the cancellation request is successfully submitted.\n",
        "operationId": "cancelPayment",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "description": "Payment cancellation successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "CancelPaymentResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DetailedCancel"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "type": "cancel",
                        "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                        "merchantWalletId": "212000",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "source": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "card"
                        },
                        "description": "Payment",
                        "status": "pending",
                        "originalPayment": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "payment",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "fromAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "captured": false,
                          "captureAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "captureDate": "2020-04-10T02:13:30.000Z",
                          "requiredAction": {
                            "type": "three_d_secure_required",
                            "redirectUrl": "https://example.org"
                          },
                          "cancel": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "cancel",
                            "description": "Payment",
                            "status": "pending",
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "refunds": [
                            {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "payment",
                              "amount": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "description": "Payment",
                              "status": "pending",
                              "requiredAction": {
                                "type": "three_d_secure_required",
                                "redirectUrl": "https://example.org"
                              },
                              "fees": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "createDate": "2020-04-10T02:13:30.000Z"
                            }
                          ],
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        },
                        "fees": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "trackingRef": "24910599141085313498894",
                        "errorCode": "payment_failed",
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "refund": false,
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/{id}/refund": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundCreationRequest"
              }
            }
          }
        },
        "summary": "Refund a payment",
        "description": "The payment source will be refunded if possible. Not all payments are eligible to be cancelled.\n\nA successful response does *not* mean the payment has been refunded; it only means the refund request is successfully submitted.\n",
        "operationId": "refundPayment",
        "tags": [
          "Payments"
        ],
        "responses": {
          "200": {
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "description": "Payment refund successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "RefundPaymentResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DetailedRefund"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "type": "refund",
                        "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                        "merchantWalletId": "212000",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "source": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "card"
                        },
                        "description": "Payment",
                        "status": "pending",
                        "originalPayment": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "payment",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "fromAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "captured": false,
                          "captureAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "captureDate": "2020-04-10T02:13:30.000Z",
                          "requiredAction": {
                            "type": "three_d_secure_required",
                            "redirectUrl": "https://example.org"
                          },
                          "cancel": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "cancel",
                            "description": "Payment",
                            "status": "pending",
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "refunds": [
                            {
                              "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                              "type": "payment",
                              "amount": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "description": "Payment",
                              "status": "pending",
                              "requiredAction": {
                                "type": "three_d_secure_required",
                                "redirectUrl": "https://example.org"
                              },
                              "fees": {
                                "amount": "3.14",
                                "currency": "USD"
                              },
                              "createDate": "2020-04-10T02:13:30.000Z"
                            }
                          ],
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        },
                        "cancel": {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "type": "cancel",
                          "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                          "merchantWalletId": "212000",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "source": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "card"
                          },
                          "description": "Payment",
                          "status": "pending",
                          "originalPayment": {
                            "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                            "type": "payment",
                            "amount": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "description": "Payment",
                            "status": "pending",
                            "requiredAction": {
                              "type": "three_d_secure_required",
                              "redirectUrl": "https://example.org"
                            },
                            "fees": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "createDate": "2020-04-10T02:13:30.000Z"
                          },
                          "fees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "channel": "ba943ff1-ca16-49b2-ba55-1057e70ca5c7",
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        },
                        "fees": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "trackingRef": "24910599141085313498894",
                        "errorCode": "payment_failed",
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/presign": {
      "get": {
        "parameters": [
          {
            "name": "endUserAddress",
            "description": "User wallet address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "0xdB055877e6c13b6A6B25aBcAA29B393777dD0a73"
            }
          },
          {
            "name": "paymentIntentId",
            "description": "Payment intent id which is from the create payment intent endpoint response",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "b48c8962-8e9f-40c3-9f1d-d9adde2ffe61"
            }
          },
          {
            "name": "amount",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2.3"
            }
          },
          {
            "name": "currency",
            "description": "Only support USD at the moment",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "USD"
              ]
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a typed message for signing",
        "operationId": "presign",
        "tags": [
          "Pull Crypto Payments"
        ],
        "responses": {
          "200": {
            "description": "Successfully got a typed message for signing",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateCryptoPaymentResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PresignResponse"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "typedData": {
                          "domain": {
                            "name": "USD Coin",
                            "verifyingContract": "0x07865c6e87b9f70255377e024ace6630c1eaa37f",
                            "version": "2",
                            "chainId": 5
                          },
                          "message": {
                            "from": "0x8381470ED67C3802402dbbFa0058E8871F017A6F",
                            "to": "0xdB055877e6c13b6A6B25aBcAA29B393777dD0a73",
                            "value": "5003456",
                            "validAfter": 1675317371,
                            "validBefore": 1675107967,
                            "nonce": "0x4f716a578b96592599c3ca7b2a46453df87511d4809f608cec982d6e83632604"
                          },
                          "totalAmount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "feeChargeModel": "endUser",
                          "networkFeeQuote": {
                            "quoteId": "5d0bb4e7-bd83-44dd-b8f5-53ddd5f35a3a",
                            "amount": {
                              "amount": "3.14",
                              "currency": "USD"
                            },
                            "expiresAt": "2023-02-02T06:01:21.152737680Z"
                          },
                          "types": {
                            "EIP712Domain": [
                              {
                                "name": "name",
                                "type": "string"
                              },
                              {
                                "name": "version",
                                "type": "string"
                              },
                              {
                                "name": "chainId",
                                "type": "uint256"
                              },
                              {
                                "name": "verifyingContract",
                                "type": "address"
                              }
                            ],
                            "TransferWithAuthorization": [
                              {
                                "name": "from",
                                "type": "address"
                              },
                              {
                                "name": "to",
                                "type": "address"
                              },
                              {
                                "name": "validAfter",
                                "type": "uint256"
                              },
                              {
                                "name": "validBefore",
                                "type": "uint256"
                              },
                              {
                                "name": "nonce",
                                "type": "byte32"
                              }
                            ]
                          },
                          "primaryType": "TransferWithAuthorization"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/payments/crypto": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a crypto payment",
        "operationId": "createCryptoPayment",
        "tags": [
          "Pull Crypto Payments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoPaymentCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a crypto payment.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateCryptoPaymentResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CryptoPayment"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "type": "payment",
                        "merchantId": "fc988ed5-c129-4f70-a064-e5beb7eb8e32",
                        "merchantWalletId": "212000",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "status": "pending",
                        "fees": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "networkFees": {
                          "amount": "3.14",
                          "currency": "USD",
                          "feePayer": "endUser"
                        },
                        "paymentIntentId": "6e4d4047-db14-4c09-b238-1215aee50d03",
                        "settlementAmount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "fromAddresses": {
                          "chain": "ALGO",
                          "addresses": [
                            "0x8381470ED67C3802402dbbFa0058E8871F017A6F"
                          ]
                        },
                        "depositAddress": {
                          "chain": "ALGO",
                          "address": "0x97de855690955e0da79ce5c1b6804847e7070c7f",
                          "addressTag": "123456789"
                        },
                        "transactionHash": "0x7351585460bd657f320b9afa02a52c26d89272d0d10cc29913eb8b28e64fd906",
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z",
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      }
    },
    "/v1/paymentIntents": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a payment intent",
        "description": "Create a transient or continuous payment intent",
        "operationId": "createPaymentIntent",
        "tags": [
          "Crypto Payment Intents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/PaymentIntentCreationRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ContinuousPaymentIntentCreationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a payment intent.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreatePaymentIntentResponse",
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/PaymentIntent"
                        },
                        {
                          "$ref": "#/components/schemas/ContinuousPaymentIntent"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Transient Payment Intent": {
                    "value": {
                      "data": {
                        "id": "8755d0ea-14f9-4259-b092-de23c14b6568",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "amountPaid": {
                          "amount": "0.00",
                          "currency": "USD"
                        },
                        "settlementCurrency": "USD",
                        "paymentMethods": [
                          {
                            "type": "blockchain",
                            "chain": "ETH"
                          }
                        ],
                        "paymentIds": [],
                        "timeline": [
                          {
                            "status": "created",
                            "time": "2022-07-21T20:13:35.579331Z"
                          }
                        ],
                        "createDate": "2022-07-21T20:13:35.578678Z",
                        "updateDate": "2022-07-21T20:19:24.859052Z"
                      }
                    }
                  },
                  "Continuous Payment Intent": {
                    "value": {
                      "data": {
                        "id": "e2e90ba3-9d1f-490d-9460-24ac6eb55a1b",
                        "currency": "USD",
                        "settlementCurrency": "USD",
                        "amountPaid": {
                          "amount": "0.00",
                          "currency": "USD"
                        },
                        "paymentMethods": [
                          {
                            "type": "blockchain",
                            "chain": "ETH"
                          }
                        ],
                        "timeline": [
                          {
                            "status": "created",
                            "time": "2023-01-21T20:13:35.579331Z"
                          }
                        ],
                        "type": "continuous",
                        "createDate": "2023-01-21T20:13:35.578678Z",
                        "updateDate": "2023-01-21T20:13:35.578678Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List all payment intents",
        "operationId": "listPaymentIntents",
        "tags": [
          "Crypto Payment Intents"
        ],
        "parameters": [
          {
            "name": "status",
            "description": "Filters by the most recent `timeline.status` within the payment intent.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "pending",
                "complete",
                "expired",
                "failed"
              ]
            }
          },
          {
            "name": "context",
            "description": "Filters by the most recent `timeline.context` within the payment intent.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "underpaid",
                "paid",
                "overpaid"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageAfter"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of payment intents.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListPaymentIntentsResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/PaymentIntent"
                          },
                          {
                            "$ref": "#/components/schemas/ContinuousPaymentIntent"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Transient Payment Intent": {
                    "value": {
                      "data": [
                        {
                          "id": "8755d0ea-14f9-4259-b092-de23c14b6568",
                          "amount": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "amountPaid": {
                            "amount": "0.00",
                            "currency": "USD"
                          },
                          "settlementCurrency": "USD",
                          "paymentMethods": [
                            {
                              "type": "blockchain",
                              "chain": "ETH"
                            }
                          ],
                          "paymentIds": [],
                          "timeline": [
                            {
                              "status": "created",
                              "time": "2022-07-21T20:13:35.579331Z"
                            }
                          ],
                          "createDate": "2022-07-21T20:13:35.578678Z",
                          "updateDate": "2022-07-21T20:19:24.859052Z"
                        }
                      ]
                    }
                  },
                  "Continuous Payment Intent": {
                    "value": {
                      "data": [
                        {
                          "id": "e2e90ba3-9d1f-490d-9460-24ac6eb55a1b",
                          "currency": "USD",
                          "settlementCurrency": "USD",
                          "amountPaid": {
                            "amount": "0.00",
                            "currency": "USD"
                          },
                          "paymentMethods": [
                            {
                              "type": "blockchain",
                              "chain": "ETH"
                            }
                          ],
                          "timeline": [
                            {
                              "status": "created",
                              "time": "2023-01-21T20:13:35.579331Z"
                            }
                          ],
                          "type": "continuous",
                          "createDate": "2023-01-21T20:13:35.578678Z",
                          "updateDate": "2023-01-21T20:13:35.578678Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      }
    },
    "/v1/paymentIntents/{id}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a payment intent",
        "operationId": "getPaymentIntent",
        "tags": [
          "Crypto Payment Intents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a payment intent.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetPaymentIntentResponse",
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/PaymentIntent"
                        },
                        {
                          "$ref": "#/components/schemas/ContinuousPaymentIntent"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Transient Payment Intent": {
                    "value": {
                      "data": {
                        "id": "8755d0ea-14f9-4259-b092-de23c14b6568",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "amountPaid": {
                          "amount": "0.00",
                          "currency": "USD"
                        },
                        "settlementCurrency": "USD",
                        "paymentMethods": [
                          {
                            "type": "blockchain",
                            "chain": "ETH"
                          }
                        ],
                        "paymentIds": [],
                        "timeline": [
                          {
                            "status": "created",
                            "time": "2022-07-21T20:13:35.579331Z"
                          }
                        ],
                        "createDate": "2022-07-21T20:13:35.578678Z",
                        "updateDate": "2022-07-21T20:19:24.859052Z"
                      }
                    }
                  },
                  "Continuous Payment Intent": {
                    "value": {
                      "data": {
                        "id": "e2e90ba3-9d1f-490d-9460-24ac6eb55a1b",
                        "currency": "USD",
                        "settlementCurrency": "USD",
                        "amountPaid": {
                          "amount": "0.00",
                          "currency": "USD"
                        },
                        "paymentMethods": [
                          {
                            "type": "blockchain",
                            "chain": "ETH"
                          }
                        ],
                        "timeline": [
                          {
                            "status": "created",
                            "time": "2023-01-21T20:13:35.579331Z"
                          }
                        ],
                        "type": "continuous",
                        "createDate": "2023-01-21T20:13:35.578678Z",
                        "updateDate": "2023-01-21T20:13:35.578678Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/paymentIntents/{id}/expire": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Expire a payment intent",
        "operationId": "expirePaymentIntent",
        "tags": [
          "Crypto Payment Intents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully expired a payment intent.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "ExpirePaymentIntentResponse",
                  "properties": {
                    "data": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/PaymentIntent"
                        },
                        {
                          "$ref": "#/components/schemas/ContinuousPaymentIntent"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "Transient Payment Intent": {
                    "value": {
                      "data": {
                        "id": "8755d0ea-14f9-4259-b092-de23c14b6568",
                        "amount": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "amountPaid": {
                          "amount": "0.00",
                          "currency": "USD"
                        },
                        "settlementCurrency": "USD",
                        "paymentMethods": [
                          {
                            "type": "blockchain",
                            "chain": "ETH"
                          }
                        ],
                        "paymentIds": [],
                        "timeline": [
                          {
                            "status": "created",
                            "time": "2022-07-21T20:13:35.579331Z"
                          }
                        ],
                        "createDate": "2022-07-21T20:13:35.578678Z",
                        "updateDate": "2022-07-21T20:19:24.859052Z"
                      }
                    }
                  },
                  "Continuous Payment Intent": {
                    "value": {
                      "data": {
                        "id": "e2e90ba3-9d1f-490d-9460-24ac6eb55a1b",
                        "currency": "USD",
                        "settlementCurrency": "USD",
                        "amountPaid": {
                          "amount": "0.00",
                          "currency": "USD"
                        },
                        "paymentMethods": [
                          {
                            "type": "blockchain",
                            "chain": "ETH"
                          }
                        ],
                        "timeline": [
                          {
                            "status": "created",
                            "time": "2023-01-21T20:13:35.579331Z"
                          }
                        ],
                        "type": "continuous",
                        "createDate": "2023-01-21T20:13:35.578678Z",
                        "updateDate": "2023-01-21T20:13:35.578678Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/paymentIntents/{id}/refund": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Refund a payment intent",
        "operationId": "refundPaymentIntent",
        "tags": [
          "Crypto Payment Intents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoRefundCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Crypto refund successfully created for the given payment intent.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateCryptoRefundResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CryptoPayment"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "3389f4ba-aafd-4eef-aaa2-3292df8f62e6",
                        "type": "refund",
                        "status": "pending",
                        "amount": {
                          "currency": "USD"
                        },
                        "merchantId": "5ffea093-d210-44b4-a7ca-ad33b9498188",
                        "merchantWalletId": "1000999922",
                        "paymentIntentId": "77c91fe9-e603-4e7b-9672-1ef8ac502cf6",
                        "settlementAmount": {
                          "amount": "1.00",
                          "currency": "ETH"
                        },
                        "fromAddresses": {
                          "chain": "ETH",
                          "addresses": [
                            "0x0d4344cFF68F72A5B9Abded37CA5862941a62050"
                          ]
                        },
                        "depositAddress": {
                          "chain": "ETH",
                          "address": "0x97de855690955e0da79ce5c1b6804847e7070c7f"
                        },
                        "createDate": "2022-07-21T20:16:35.092852Z",
                        "updateDate": "2022-07-21T20:19:24.719313Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a card",
        "operationId": "createCard",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a card.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateCardResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Card"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "status": "pending",
                        "billingDetails": {
                          "name": "Satoshi Nakamoto",
                          "city": "Boston",
                          "country": "US",
                          "line1": "100 Money Street",
                          "line2": "Suite 1",
                          "district": "MA",
                          "postalCode": "01234"
                        },
                        "expMonth": 1,
                        "expYear": 2020,
                        "network": "VISA",
                        "last4": "0123",
                        "bin": "401230",
                        "issuerCountry": "US",
                        "fundingType": "credit",
                        "fingerprint": "eb170539-9e1c-4e92-bf4f-1d09534fdca2",
                        "errorCode": "verification_failed",
                        "verification": {
                          "avs": "D",
                          "cvv": "not_requested"
                        },
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      },
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List all cards",
        "operationId": "listCards",
        "tags": [
          "Cards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageAfter"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of cards.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "ListCardsResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SimpleCard"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "status": "pending",
                          "billingDetails": {
                            "country": "US",
                            "district": "MA"
                          },
                          "expMonth": 1,
                          "expYear": 2020,
                          "network": "VISA",
                          "bin": "401230",
                          "issuerCountry": "US",
                          "fundingType": "credit",
                          "fingerprint": "eb170539-9e1c-4e92-bf4f-1d09534fdca2",
                          "verification": {
                            "avs": "D",
                            "cvv": "not_requested"
                          },
                          "riskEvaluation": {
                            "decision": "approved",
                            "reason": "3000"
                          },
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      }
    },
    "/v1/cards/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a card",
        "operationId": "getCard",
        "tags": [
          "Cards"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a card.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetCardResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Card"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "status": "pending",
                        "billingDetails": {
                          "name": "Satoshi Nakamoto",
                          "city": "Boston",
                          "country": "US",
                          "line1": "100 Money Street",
                          "line2": "Suite 1",
                          "district": "MA",
                          "postalCode": "01234"
                        },
                        "expMonth": 1,
                        "expYear": 2020,
                        "network": "VISA",
                        "last4": "0123",
                        "bin": "401230",
                        "issuerCountry": "US",
                        "fundingType": "credit",
                        "fingerprint": "eb170539-9e1c-4e92-bf4f-1d09534fdca2",
                        "errorCode": "verification_failed",
                        "verification": {
                          "avs": "D",
                          "cvv": "not_requested"
                        },
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update a card",
        "operationId": "updateCard",
        "tags": [
          "Cards"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succesfully modified a card.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "UpdateCardResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Card"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "status": "pending",
                        "billingDetails": {
                          "name": "Satoshi Nakamoto",
                          "city": "Boston",
                          "country": "US",
                          "line1": "100 Money Street",
                          "line2": "Suite 1",
                          "district": "MA",
                          "postalCode": "01234"
                        },
                        "expMonth": 1,
                        "expYear": 2020,
                        "network": "VISA",
                        "last4": "0123",
                        "bin": "401230",
                        "issuerCountry": "US",
                        "fundingType": "credit",
                        "fingerprint": "eb170539-9e1c-4e92-bf4f-1d09534fdca2",
                        "errorCode": "verification_failed",
                        "verification": {
                          "avs": "D",
                          "cvv": "not_requested"
                        },
                        "riskEvaluation": {
                          "decision": "approved",
                          "reason": "3000"
                        },
                        "metadata": {
                          "email": "satoshi@circle.com",
                          "phoneNumber": "+14155555555"
                        },
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/paymentTokens": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create a payment token",
        "description": "Convert a digital wallet (Apple Pay, Google Pay) token to a single-use payment token.",
        "operationId": "createPaymentToken",
        "tags": [
          "Payment Tokens"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully converted a digital token to a Circle token account.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreatePaymentTokenResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PaymentToken"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "gc988ed5-c189-4f70-a074-e5beb7eb8e32",
                        "type": "applepay",
                        "expiresOn": "2022-01-18T19:20:00Z",
                        "cardDetails": {
                          "expMonth": 1,
                          "expYear": 2020,
                          "network": "VISA",
                          "last4": "0123",
                          "bin": "401230",
                          "fundingType": "credit",
                          "issuerCountry": "US"
                        },
                        "createDate": "2020-04-10T02:13:30.000Z",
                        "updateDate": "2020-04-10T02:13:30.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      }
    },
    "/v1/settlements": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/PageBefore"
          },
          {
            "$ref": "#/components/parameters/PageAfter"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "summary": "List all settlements",
        "operationId": "listSettlements",
        "tags": [
          "Settlements"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of settlements.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetSettlementsResponse",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Settlement"
                      }
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": [
                        {
                          "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                          "merchantWalletId": "212000",
                          "walletId": "12345",
                          "totalDebits": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "totalCredits": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "paymentFees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "chargebackFees": {
                            "amount": "3.14",
                            "currency": "USD"
                          },
                          "createDate": "2020-04-10T02:13:30.000Z",
                          "updateDate": "2020-04-10T02:13:30.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/NotAuthorized"
          }
        }
      }
    },
    "/v1/settlements/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/IdPath"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get a settlement",
        "operationId": "getSettlement",
        "tags": [
          "Settlements"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a settlement.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/XRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetSettlementResponse",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Settlement"
                    }
                  }
                },
                "examples": {
                  "response": {
                    "value": {
                      "data": {
                        "id": "b8627ae8-732b-4d25-b947-1df8f4007a29",
                        "merchantWalletId": "212000",
                        "walletId": "12345",
                        "totalDebits": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
                        "totalCredits": {
                          "amount": "3.14",
                          "currency": "USD"
                        },
[...]
