openapi: 3.0.2
servers:
- url: https://api-sandbox.circle.com
info:
  version: 2.13.0
  title: Core Functionality
  description: 'All of Circle''s APIs share a common set of core functionality that
    lets you manage your Circle Account in a programmatic way.


    With a Circle Account your business can deposit traditional money from 80+ countries
    and seamlessly convert them into "digital currency dollars": USDC. You can then
    use USDC for everyday payments and treasury flows.

    '
tags:
- name: Balances
  description: Get information on settled and unsettled balances.
- name: Payouts
  description: Create and get information on 1st party payouts.
- name: Wires
  description: Create, get instructions, and get information on 1st party bank accounts
    for wire transfers.
- name: CBIT
  description: Create and get information on CBIT accounts.
- name: CUBIX
  description: Create and get information on CUBIX accounts.
- name: PIX
  description: Create and get information on PIX accounts.
- name: Transfers
  description: Create and get information on 1st party transfers.
- name: Addresses
  description: Generate and get information on blockchain addresses.
- name: Deposits
  description: Get information on 1st party deposits.
paths:
  /v1/businessAccount/balances:
    get:
      security:
      - bearerAuth: []
      summary: List all balances
      description: Retrieves the balance of funds that are available for use.
      operationId: listBusinessBalances
      tags:
      - Balances
      responses:
        '200':
          description: Successfully retrieved balances.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessBalancesResponse
                properties:
                  data:
                    $ref: '#/components/schemas/Balances'
              examples:
                response:
                  value:
                    data:
                      available:
                      - amount: '3.14'
                        currency: USD
                      unsettled:
                      - amount: '3.14'
                        currency: USD
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/payouts:
    post:
      security:
      - bearerAuth: []
      summary: Create a payout
      description: "\nCreate a payout.  \n\nThe following table includes the supported\
        \ pairs of amount.currency and toAmount.currency for FX payouts:\n\n| amount.currency\
        \  | toAmount.currency |\n| ---------------- | ------------ |\n | USD | BRL\
        \ |\n"
      operationId: createBusinessPayout
      tags:
      - Payouts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessPayoutCreationRequest'
      responses:
        '201':
          description: Successfully created a payout.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessPayoutResponse
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessPayout'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      sourceWalletId: '53535335'
                      destination:
                        type: wire
                        id: b8627ae8-732b-4d25-b947-1df8f4007a29
                        name: COMMERZBANK AG ****3000
                      amount:
                        amount: '3.14'
                        currency: USD
                      toAmount:
                        amount: '3.14'
                        currency: USD
                      fees:
                        amount: '3.14'
                        currency: USD
                      status: pending
                      trackingRef: CIR-6ESOQANEP3NAO
                      errorCode: insufficient_funds
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      adjustments:
                        fxCredit:
                          amount: '3.14'
                          currency: USD
                        fxDebit:
                          amount: '3.14'
                          currency: USD
                      return:
                        id: b8627ae8-732b-4d25-b947-1df8f4007a29
                        payoutId: abdb500d-4a59-457c-801f-2d418c8703ac
                        amount:
                          amount: '3.14'
                          currency: USD
                        fees:
                          amount: '3.14'
                          currency: USD
                        reason: payout_returned
                        status: pending
                        createDate: '2020-04-10T02:13:30.000Z'
                        updateDate: '2020-04-10T02:13:30.000Z'
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/Destination'
      - name: type
        description: Destination bank account type. Filters the results to fetch all
          payouts made to a specified destination bank account type. This query parameter
          can be passed multiple times to fetch results matching multiple destination
          bank account types.
        in: query
        required: false
        schema:
          type: string
          enum:
          - wire
          - cbit
          - cubix
      - name: status
        description: Queries items with the specified status. Matches any status if
          unspecified.
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/PayoutStatus'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/PageBefore'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/PageSize'
      summary: List all payouts
      operationId: listBusinessPayouts
      tags:
      - Payouts
      responses:
        '200':
          description: Successfully retrieved a list of payouts.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessPayoutsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessPayout'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      sourceWalletId: '53535335'
                      destination:
                        type: wire
                        id: b8627ae8-732b-4d25-b947-1df8f4007a29
                        name: COMMERZBANK AG ****3000
                      amount:
                        amount: '3.14'
                        currency: USD
                      toAmount:
                        amount: '3.14'
                        currency: USD
                      fees:
                        amount: '3.14'
                        currency: USD
                      status: pending
                      trackingRef: CIR-6ESOQANEP3NAO
                      errorCode: insufficient_funds
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      adjustments:
                        fxCredit:
                          amount: '3.14'
                          currency: USD
                        fxDebit:
                          amount: '3.14'
                          currency: USD
                      return:
                        id: b8627ae8-732b-4d25-b947-1df8f4007a29
                        payoutId: abdb500d-4a59-457c-801f-2d418c8703ac
                        amount:
                          amount: '3.14'
                          currency: USD
                        fees:
                          amount: '3.14'
                          currency: USD
                        reason: payout_returned
                        status: pending
                        createDate: '2020-04-10T02:13:30.000Z'
                        updateDate: '2020-04-10T02:13:30.000Z'
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/payouts/{id}:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get a payout
      operationId: getBusinessPayout
      tags:
      - Payouts
      responses:
        '200':
          description: Successfully retrieved a payout.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessPayoutResponse
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessPayout'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      sourceWalletId: '53535335'
                      destination:
                        type: wire
                        id: b8627ae8-732b-4d25-b947-1df8f4007a29
                        name: COMMERZBANK AG ****3000
                      amount:
                        amount: '3.14'
                        currency: USD
                      toAmount:
                        amount: '3.14'
                        currency: USD
                      fees:
                        amount: '3.14'
                        currency: USD
                      status: pending
                      trackingRef: CIR-6ESOQANEP3NAO
                      errorCode: insufficient_funds
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      adjustments:
                        fxCredit:
                          amount: '3.14'
                          currency: USD
                        fxDebit:
                          amount: '3.14'
                          currency: USD
                      return:
                        id: b8627ae8-732b-4d25-b947-1df8f4007a29
                        payoutId: abdb500d-4a59-457c-801f-2d418c8703ac
                        amount:
                          amount: '3.14'
                          currency: USD
                        fees:
                          amount: '3.14'
                          currency: USD
                        reason: payout_returned
                        status: pending
                        createDate: '2020-04-10T02:13:30.000Z'
                        updateDate: '2020-04-10T02:13:30.000Z'
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/banks/wires:
    post:
      security:
      - bearerAuth: []
      summary: Create a Wire bank account
      operationId: createBusinessWireAccount
      tags:
      - Wires
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireCreationRequest'
      responses:
        '201':
          description: Successfully created a bank account for wire transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessWireAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/Wire'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      description: WELLS FARGO BANK, NA ****0010
                      trackingRef: CIR13FB13A
                      transferTypesInfo:
                        wire:
                          currencies:
                          - USD
                          - EUR
                        rtgs:
                          currencies:
                          - USD
                      fingerprint: eb170539-9e1c-4e92-bf4f-1d09534fdca2
                      billingDetails:
                        name: Satoshi Nakamoto
                        city: Boston
                        country: US
                        line1: 100 Money Street
                        line2: Suite 1
                        district: MA
                        postalCode: '01234'
                      bankAddress:
                        bankName: SAN FRANCISCO
                        city: SAN FRANCISCO
                        country: US
                        line1: 100 Money Street
                        line2: Suite 1
                        district: CA
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      summary: List all Wire bank accounts
      operationId: listBusinessWireAccounts
      tags:
      - Wires
      responses:
        '200':
          description: Successfully retrieved a list of bank accounts.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessWireAccountsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Wire'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      description: WELLS FARGO BANK, NA ****0010
                      trackingRef: CIR13FB13A
                      transferTypesInfo:
                        wire:
                          currencies:
                          - USD
                          - EUR
                        rtgs:
                          currencies:
                          - USD
                      fingerprint: eb170539-9e1c-4e92-bf4f-1d09534fdca2
                      billingDetails:
                        name: Satoshi Nakamoto
                        city: Boston
                        country: US
                        line1: 100 Money Street
                        line2: Suite 1
                        district: MA
                        postalCode: '01234'
                      bankAddress:
                        bankName: SAN FRANCISCO
                        city: SAN FRANCISCO
                        country: US
                        line1: 100 Money Street
                        line2: Suite 1
                        district: CA
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/banks/wires/{id}:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get a Wire bank account
      operationId: getBusinessWireAccount
      tags:
      - Wires
      responses:
        '200':
          description: Successfully retrieved a bank account for wire transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessWireAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/Wire'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      description: WELLS FARGO BANK, NA ****0010
                      trackingRef: CIR13FB13A
                      transferTypesInfo:
                        wire:
                          currencies:
                          - USD
                          - EUR
                        rtgs:
                          currencies:
                          - USD
                      fingerprint: eb170539-9e1c-4e92-bf4f-1d09534fdca2
                      billingDetails:
                        name: Satoshi Nakamoto
                        city: Boston
                        country: US
                        line1: 100 Money Street
                        line2: Suite 1
                        district: MA
                        postalCode: '01234'
                      bankAddress:
                        bankName: SAN FRANCISCO
                        city: SAN FRANCISCO
                        country: US
                        line1: 100 Money Street
                        line2: Suite 1
                        district: CA
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/banks/wires/{id}/instructions:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      - $ref: '#/components/parameters/Currency'
      security:
      - bearerAuth: []
      summary: Get Wire instructions
      description: Get the wire transfer instructions into the Circle bank account
        given your bank account id.
      operationId: getBusinessWireAccountInstructions
      tags:
      - Wires
      responses:
        '200':
          description: Successfully retrieved wire transfer instructions for the bank
            account.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessWireAccountInstructionsResponse
                properties:
                  data:
                    $ref: '#/components/schemas/WireInstruction'
              examples:
                response:
                  value:
                    data:
                      trackingRef: CIR13FB13A
                      beneficiary:
                        name: CIRCLE INTERNET FINANCIAL INC
                        address1: 99 HIGH STREET
                        address2: BOSTON MA 02110
                      beneficiaryBank:
                        name: SILVERGATE BANK
                        swiftCode: SIVGUS66XXX
                        routingNumber: '322286803'
                        accountNumber: '****7427'
                        currency: USD
                        address: 4250 EXECUTIVE SQUARE SUITE 300
                        city: LA JOLLA
                        postalCode: '02110'
                        country: US
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/mocks/payments/wire:
    post:
      security:
      - bearerAuth: []
      summary: Create a mock Wire payment
      description: In the sandbox environment, initiate a mock wire payment that mimics
        the behavior of funds sent through the bank (wire) account linked to master
        wallet.
      operationId: createMockWirePayment
      tags:
      - Payments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MockWirePaymentRequest'
      responses:
        '201':
          description: Successfully created a mock wire payment.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateWirePaymentResponse
                properties:
                  data:
                    $ref: '#/components/schemas/MockWirePaymentResponse'
              examples:
                response:
                  value:
                    data:
                      trackingRef: CIR13FB13A
                      amount:
                        amount: '3.14'
                        currency: USD
                      beneficiaryBank:
                        accountNumber: '11111111'
                      status: pending
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/banks/cbit:
    post:
      security:
      - bearerAuth: []
      summary: Create a CBIT bank account
      operationId: createBusinessCbitAccount
      tags:
      - CBIT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CbitFiatAccountCreationRequest'
      responses:
        '201':
          description: Successfully created a bank account for CBIT transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessCbitAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/CbitFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      trackingRef: CIR25XSXT8
                      walletAddress: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
                      transferTypesInfo:
                        cbit:
                          currencies:
                          - USD
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      summary: List all CBIT bank accounts.
      operationId: listBusinessCbitAccounts
      tags:
      - CBIT
      responses:
        '200':
          description: Successfully retrieved all bank accounts for CBIT transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessCbitAccountsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CbitFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      trackingRef: CIR25XSXT8
                      walletAddress: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
                      transferTypesInfo:
                        cbit:
                          currencies:
                          - USD
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/banks/cbit/{id}:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get a CBIT bank account
      operationId: getBusinessCbitAccount
      tags:
      - CBIT
      responses:
        '200':
          description: Successfully retrieved a bank account for CBIT transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessCbitAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/CbitFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      trackingRef: CIR25XSXT8
                      walletAddress: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
                      transferTypesInfo:
                        cbit:
                          currencies:
                          - USD
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/banks/cbit/{id}/instructions:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get CBIT instructions
      description: Get the CBIT transfer instructions into the Circle bank account
        given your bank account id.
      operationId: getBusinessCbitAccountInstructions
      tags:
      - CBIT
      responses:
        '200':
          description: Successfully retrieved CBIT transfer instructions for the bank
            account.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessCbitAccountInstructionsResponse
                properties:
                  data:
                    $ref: '#/components/schemas/CbitInstruction'
              examples:
                response:
                  value:
                    data:
                      trackingRef: CIR25XSXT8
                      walletAddress: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/banks/cubix:
    post:
      security:
      - bearerAuth: []
      summary: Create a CUBIX bank account
      operationId: createBusinessCubixAccount
      tags:
      - CUBIX
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubixFiatAccountCreationRequest'
      responses:
        '201':
          description: Successfully created a bank account for CUBIX transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessCubixAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/CubixFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      trackingRef: CIR25XSXT8
                      accountId: ff2212d7-8476-4d1e-9d95-eda6455f4f54
                      transferTypesInfo:
                        cubix:
                          currencies:
                          - USD
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      summary: List all CUBIX bank accounts.
      operationId: listBusinessCubixAccounts
      tags:
      - CUBIX
      responses:
        '200':
          description: Successfully retrieved all bank accounts for CUBIX transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessCubixAccountsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CubixFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      trackingRef: CIR25XSXT8
                      accountId: ff2212d7-8476-4d1e-9d95-eda6455f4f54
                      transferTypesInfo:
                        cubix:
                          currencies:
                          - USD
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/banks/cubix/{id}:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get a CUBIX bank account
      operationId: getBusinessCubixAccount
      tags:
      - CUBIX
      responses:
        '200':
          description: Successfully retrieved a bank account for CUBIX transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessCubixAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/CubixFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      trackingRef: CIR25XSXT8
                      accountId: ff2212d7-8476-4d1e-9d95-eda6455f4f54
                      transferTypesInfo:
                        cubix:
                          currencies:
                          - USD
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/banks/cubix/{id}/instructions:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get CUBIX instructions
      description: Get the CUBIX transfer instructions into the Circle bank account
        given your fiat account id.
      operationId: getBusinessCubixAccountInstructions
      tags:
      - CUBIX
      responses:
        '200':
          description: Successfully retrieved CUBIX transfer instructions for the
            fiat account.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessCubixAccountInstructionsResponse
                properties:
                  data:
                    $ref: '#/components/schemas/CubixInstruction'
              examples:
                response:
                  value:
                    data:
                      trackingRef: CIR25XSXT8
                      accountId: ff2212d7-8476-4d1e-9d95-eda6455f4f54
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/transfers:
    post:
      security:
      - bearerAuth: []
      summary: Create a transfer
      description: A transfer can be made from an existing business account to a blockchain
        location.
      operationId: createBusinessTransfer
      tags:
      - Transfers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessTransferCreationRequest'
      responses:
        '201':
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          description: Successfully created a transfer.
          content:
            application/json:
              schema:
                title: CreateBusinessTransferResponse
                properties:
                  data:
                    $ref: '#/components/schemas/Transfer'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      source:
                        type: wallet
                        id: '12345'
                        identities:
                        - type: individual
                          name: Satoshi Nakamoto
                          addresses:
                          - line1: 100 Money Street
                            line2: Suite 1
                            city: Boston
                            district: MA
                            postalCode: '01234'
                            country: US
                      destination:
                        type: blockchain
                        address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                        addressTag: '123456789'
                        chain: ALGO
                      amount:
                        amount: '3.14'
                        currency: USD
                      fees:
                      - amount: '10.00'
                        currency: USD
                        type: network
                      transactionHash: '0x4cebf8f90c9243a23c77e4ae20df691469e4b933b295a73376292843968f7a63'
                      status: pending
                      errorCode: transfer_failed
                      createDate: '2020-04-10T02:13:30.000Z'
    get:
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/PageBefore'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/PageSize'
      summary: List all transfers
      description: Searches for transfers from your business account. If the date
        parameters are omitted, returns the most recent transfers. This endpoint returns
        up to 50 transfers in descending chronological order or pageSize, if provided.
      operationId: listBusinessTransfers
      tags:
      - Transfers
      responses:
        '200':
          description: Successfully retrieved a list of transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessTransfersResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transfer'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      source:
                        type: wallet
                        id: '12345'
                        identities:
                        - type: individual
                          name: Satoshi Nakamoto
                          addresses:
                          - line1: 100 Money Street
                            line2: Suite 1
                            city: Boston
                            district: MA
                            postalCode: '01234'
                            country: US
                      destination:
                        type: blockchain
                        address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                        addressTag: '123456789'
                        chain: ALGO
                      amount:
                        amount: '3.14'
                        currency: USD
                      fees:
                      - amount: '10.00'
                        currency: USD
                        type: network
                      transactionHash: '0x4cebf8f90c9243a23c77e4ae20df691469e4b933b295a73376292843968f7a63'
                      status: pending
                      errorCode: transfer_failed
                      createDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/transfers/{id}:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get a transfer
      operationId: getBusinessTransfer
      tags:
      - Transfers
      responses:
        '200':
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          description: Successfully retrieved a transfer.
          content:
            application/json:
              schema:
                title: GetBusinessTransferResponse
                properties:
                  data:
                    $ref: '#/components/schemas/Transfer'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      source:
                        type: wallet
                        id: '12345'
                        identities:
                        - type: individual
                          name: Satoshi Nakamoto
                          addresses:
                          - line1: 100 Money Street
                            line2: Suite 1
                            city: Boston
                            district: MA
                            postalCode: '01234'
                            country: US
                      destination:
                        type: blockchain
                        address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                        addressTag: '123456789'
                        chain: ALGO
                      amount:
                        amount: '3.14'
                        currency: USD
                      fees:
                      - amount: '10.00'
                        currency: USD
                        type: network
                      transactionHash: '0x4cebf8f90c9243a23c77e4ae20df691469e4b933b295a73376292843968f7a63'
                      status: pending
                      errorCode: transfer_failed
                      createDate: '2020-04-10T02:13:30.000Z'
  /v1/businessAccount/wallets/addresses/deposit:
    post:
      security:
      - bearerAuth: []
      summary: Create a deposit address
      description: "Generates a new blockchain address for a wallet for a given currency/chain\
        \ pair. Circle may reuse addresses on blockchains that support reuse. For\
        \ example, if you're requesting two addresses for depositing USD and ETH,\
        \ both on Ethereum, you may see the same Ethereum address returned. Depositing\
        \ cryptocurrency to a generated address will credit the associated wallet\
        \ with the value of the deposit. Note: Circle Mint Singapore customers must\
        \ verify all transfer recipients using the UI in the Circle Console, as transfers\
        \ from unverified addresses will be held in `pending` status. \n"
      operationId: createBusinessDepositAddress
      tags:
      - Addresses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessGenerateAddressRequest'
      responses:
        '201':
          description: Successfully generated a new deposit address.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessDepositAddressResponse
                properties:
                  data:
                    $ref: '#/components/schemas/AddressObject'
              examples:
                response:
                  value:
                    data:
                      address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                      addressTag: '123456789'
                      currency: USD
                      chain: ALGO
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      summary: List all deposit addresses
      operationId: getBusinessDepositAddress
      tags:
      - Addresses
      responses:
        '200':
          description: Successfully retrieved a list of deposit addresses.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessDepositAddressResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AddressObject'
              examples:
                response:
                  value:
                    data:
                    - address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                      addressTag: '123456789'
                      currency: USD
                      chain: ALGO
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/wallets/addresses/recipient:
    post:
      security:
      - bearerAuth: []
      summary: Create a recipient address
      description: 'Stores an external blockchain address. Once added, the recipient
        address must be verified to ensure that you know and trust each new address.
        Note: Circle Mint Singapore customers must verify all transfer recipients
        using the UI in the Circle Console, as transfers from unverified addresses
        will be held in `pending` status.

        '
      operationId: createBusinessRecipientAddress
      tags:
      - Addresses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessRecipientAddressCreationRequest'
      responses:
        '200':
          description: Successfully added a recipient address.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessRecipientAddressResponse
                properties:
                  data:
                    $ref: '#/components/schemas/BusinessRecipientAddressObject'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                      addressTag: '123456789'
                      chain: ALGO
                      currency: USD
                      description: My USDC address at a cryptocurrency exchange
                      status: active
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/PageBefore'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/PageSize'
      summary: List all recipient addresses
      description: 'Returns a list of recipient addresses that have each been verified
        and are eligible for transfers. Any recipient addresses pending administrator
        verification are not included in the response.

        '
      operationId: listBusinessRecipientAddresses
      tags:
      - Addresses
      responses:
        '200':
          description: Successfully retrieved a list of recipient addresses.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: listBusinessRecipientAddressesResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessRecipientAddressObject'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      address: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
                      addressTag: '123456789'
                      chain: ALGO
                      currency: USD
                      description: My USDC address at a cryptocurrency exchange
                      status: active
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/wallets/addresses/recipient/{id}:
    delete:
      security:
      - bearerAuth: []
      parameters:
      - $ref: '#/components/parameters/IdPath'
      summary: Delete a recipient address
      description: 'Deletes an external blockchain address. The recipient address
        must be in an ''active'' or ''pending'' state in order to be deleted successfully.

        '
      operationId: deleteBusinessRecipientAddress
      tags:
      - Addresses
      responses:
        '200':
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          description: Successfully removed the recipient address.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/deposits:
    get:
      security:
      - bearerAuth: []
      parameters:
      - name: type
        description: Unique identifier for the deposit type. Filters results to fetch
          deposits made by this specific type.
        in: query
        schema:
          type: string
          enum:
          - wire
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/PageBefore'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/PageSize'
      summary: List all deposits
      description: Searches for deposits sent to your business account. If the date
        parameters are omitted, returns the most recent deposits. This endpoint returns
        up to 50 deposits in descending chronological order or pageSize, if provided.
      operationId: listBusinessDeposits
      tags:
      - Deposits
      responses:
        '200':
          description: Successfully retrieved a list of deposits.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessDepositsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessDeposit'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      sourceWalletId: 9b57048d-2365-4ff5-956b-0199170d1035
                      destination:
                        type: wallet
                        id: '12345'
                      amount:
                        amount: '3.14'
                        currency: USD
                      fee:
                        amount: '3.14'
                        currency: USD
                      status: pending
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/banks/pix:
    post:
      security:
      - bearerAuth: []
      summary: Create a PIX bank account
      operationId: createBusinessPixAccount
      tags:
      - PIX
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PixFiatAccountCreationRequest'
      responses:
        '201':
          description: Successfully created a bank account for PIX transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: CreateBusinessPixAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/PixFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      description: BTG Pactual ****0010
                      trackingRef: CIR13FB13A
                      transferTypesInfo:
                        pix:
                          currencies:
                          - BRL
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      fingerprint: eb170539-9e1c-4e92-bf4f-1d09534fdca2
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
    get:
      security:
      - bearerAuth: []
      summary: List all PIX bank accounts.
      operationId: listBusinessPixAccounts
      tags:
      - PIX
      responses:
        '200':
          description: Successfully retrieved all bank accounts for PIX transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBusinessPixAccountsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PixFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      description: BTG Pactual ****0010
                      trackingRef: CIR13FB13A
                      transferTypesInfo:
                        pix:
                          currencies:
                          - BRL
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      fingerprint: eb170539-9e1c-4e92-bf4f-1d09534fdca2
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
  /v1/businessAccount/banks/pix/{id}:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get a PIX bank account
      operationId: getBusinessPixAccount
      tags:
      - PIX
      responses:
        '200':
          description: Successfully retrieved a bank account for PIX transfers.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: GetBusinessPixAccountResponse
                properties:
                  data:
                    $ref: '#/components/schemas/PixFiatAccountResponse'
              examples:
                response:
                  value:
                    data:
                      id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      status: pending
                      description: BTG Pactual ****0010
                      trackingRef: CIR13FB13A
                      transferTypesInfo:
                        pix:
                          currencies:
                          - BRL
                      riskEvaluation:
                        decision: approved
                        reason: '3000'
                      fingerprint: eb170539-9e1c-4e92-bf4f-1d09534fdca2
                      createDate: '2020-04-10T02:13:30.000Z'
                      updateDate: '2020-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/businessAccount/banks/pix/{id}/instructions:
    get:
      parameters:
      - $ref: '#/components/parameters/IdPath'
      security:
      - bearerAuth: []
      summary: Get PIX instructions
      description: Get the PIX transfer instructions into the Circle bank account
        given your bank account id.
      operationId: getBusinessPixAccountInstructions
      tags:
      - PIX
      responses:
        '200':
          description: Successfully retrieved PIX transfer instructions for the bank
            account.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: BusinessPixAccountInstructionsResponse
                properties:
                  data:
                    $ref: '#/components/schemas/PixInstruction'
              examples:
                response:
                  value:
                    data:
                      trackingRef: CIR25XSXT8
                      ispb: '68033222'
                      branchCode: '123'
                      accountNumber: '322286803'
                      accountType: checking
                      taxId: '57112345675712'
                      name: CIRCLE INTERNET FINANCIAL INC
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v1/fees/redemption/net/dailyReports:
    get:
      security:
      - bearerAuth: []
      parameters:
      - name: minimumFeeAmount
        description: Filters out NET burn daily fee calculations below minimumFeeAmount
          value.
        in: query
        required: false
        schema:
          type: string
          example: '3.14'
      - $ref: '#/components/parameters/Currency'
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      - $ref: '#/components/parameters/PageBefore'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/PageSize'
      summary: List all NET burn daily fee calculations
      description: Searches for NET burn fee daily calculations. This endpoint returns
        up to 50 daily fee amount calculations in descending chronological order or
        pageSize, if provided.
      operationId: listNetBurnFeeDailyCalculations
      tags:
      - Payouts
      responses:
        '200':
          description: Successfully retrieved a list of NET burn fee calculations.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
          content:
            application/json:
              schema:
                title: ListBurnFeeCalculationsResponse
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RedemptionFeeCalculation'
              examples:
                response:
                  value:
                    data:
                    - id: b8627ae8-732b-4d25-b947-1df8f4007a29
                      fee:
                        amount: '3.14'
                        currency: USD
                      cumulatedPayoutAmount:
                        amount: '64.54'
                        currency: USD
                      cumulatedPaymentAmount:
                        amount: '34.54'
                        currency: USD
                      cumulatedNetAmount:
                        amount: '30.00'
                        currency: USD
                      valueDate: '2023-05-23'
                      status: paid
                      thresholdResetTimestamp: '2023-05-23T23:59:59.999Z'
                      createDate: '2024-04-10T02:13:30.000Z'
        '401':
          $ref: '#/components/responses/NotAuthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  headers:
    XRequestId:
      description: Universally unique identifier (UUID v4) for the request. Helpful
        for identifying a request when communicating with Circle support.
      schema:
        type: string
        format: uuid
        example: 2adba88e-9d63-44bc-b975-9b6ae3440dde
  schemas:
    Money:
      type: object
      required:
      - amount
      - currency
      properties:
        amount:
          type: string
          description: Magnitude of the amount, in units of the currency, with a `.`.
          example: '3.14'
        currency:
          type: string
          description: Currency code for the amount.
          enum:
          - USD
          - EUR
          - BTC
          - ETH
    Balances:
      type: object
      description: Available and unsettled balances of the merchant.
      required:
      - available
      - unsettled
      properties:
        available:
          type: array
          description: List of currency balances (one for each currency) that are
            currently available to spend.
          items:
            $ref: '#/components/schemas/Money'
        unsettled:
          type: array
          description: List of currency balances (one for each currency) that have
            been captured but are currently in the process of settling and will become
            available to spend at some point in the future.
          items:
            $ref: '#/components/schemas/Money'
    PayoutStatus:
      type: string
      description: Status of the payout. Status `pending` indicates that the payout
        is in process; `complete` indicates it finished successfully; `failed` indicates
        it failed.
      enum:
      - pending
      - complete
      - failed
    Id:
      type: string
      description: Unique system generated identifier for the entity.
      format: uuid
      example: b8627ae8-732b-4d25-b947-1df8f4007a29
    BusinessAccountPayoutDestinationType:
      type: string
      description: The destination bank account type.
      enum:
      - wire
      - cbit
      - cubix
    BankDestination:
      type: object
      description: The destination bank account.
      required:
      - type
      - id
      properties:
        type:
          $ref: '#/components/schemas/BusinessAccountPayoutDestinationType'
        id:
          $ref: '#/components/schemas/Id'
        name:
          type: string
          description: Bank name plus last four digits of the bank account number
            or IBAN.
          example: COMMERZBANK AG ****3000
    FiatCurrency:
      type: string
      description: Currency code.
      title: Currency
      enum:
      - USD
      - EUR
      - MXN
      - SGD
      - BRL
    FiatMoney:
      type: object
      required:
      - amount
      - currency
      properties:
        amount:
          description: Magnitude of the amount, in units of the currency, with a `.`.
          type: string
          example: '3.14'
        currency:
          $ref: '#/components/schemas/FiatCurrency'
    FiatPayoutToMoney:
      type: object
      required:
      - currency
      properties:
        amount:
          description: Magnitude of the amount, in units of the currency, with a `.`.
          type: string
          example: '3.14'
          readOnly: true
        currency:
          $ref: '#/components/schemas/FiatCurrency'
    FiatMoneyUsd:
      type: object
      required:
      - amount
      - currency
      properties:
        amount:
          description: Magnitude of the amount, in units of the currency, with a `.`.
          type: string
          example: '3.14'
        currency:
          description: Currency code.
          type: string
          enum:
          - USD
    PayoutErrorCode:
      type: string
      nullable: true
      description: Indicates the failure reason of a payout. Only present for payouts
        in failed state. Possible values are [`insufficient_funds`, `transaction_denied`,
        `transaction_failed`, `transaction_returned`, `bank_transaction_error`, `fiat_account_limit_exceeded`,
        `invalid_bank_account_number`, `invalid_ach_rtn`, `invalid_wire_rtn`, `vendor_inactive`]'
      enum:
      - insufficient_funds
      - transaction_denied
      - transaction_failed
      - transaction_returned
      - bank_transaction_error
      - fiat_account_limit_exceeded
      - invalid_bank_account_number
      - invalid_ach_rtn
      - invalid_wire_rtn
      - vendor_inactive
    RiskEvaluation:
      type: object
      description: Results of risk evaluation. Only present if the payment is denied
        by Circle's risk service.
      nullable: true
      properties:
        decision:
          description: Enumerated decision of the account.
          type: string
          enum:
          - approved
          - denied
          - review
        reason:
          description: Risk reason for the definitive decision outcome.
          type: string
          nullable: true
          example: '3000'
    FinalAdjustments:
      type: object
      description: Final adjustment which increases (credits) or decreases (debits)
        the total returned amount to the source wallet.
      nullable: true
      properties:
        fxCredit:
          $ref: '#/components/schemas/FiatMoneyUsd'
        fxDebit:
          $ref: '#/components/schemas/FiatMoneyUsd'
    IdPayout:
      type: string
      description: Universally unique identifier (UUID v4) of the payout that is associated
        with the return.
      format: uuid
      example: abdb500d-4a59-457c-801f-2d418c8703ac
    UtcTimestamp:
      type: string
      description: ISO-8601 UTC date/time format.
      example: '2020-04-10T02:13:30.000Z'
    UnwithdrawalObject:
      type: object
      description: Return information if the payout is returned by bank. Only present
        if `errorCode` of payout is `transaction_returned`.
      nullable: true
      properties:
        id:
          $ref: '#/components/schemas/Id'
        payoutId:
          $ref: '#/components/schemas/IdPayout'
        amount:
          $ref: '#/components/schemas/FiatMoneyUsd'
        fees:
          $ref: '#/components/schemas/FiatMoneyUsd'
        reason:
          type: string
          description: Reason for the return.
          example: payout_returned
        status:
          type: string
          description: Status of the return. A `pending` status indicates that the
            return is in process; `complete` indicates it finished successfully; `failed`
            indicates it failed.
          enum:
          - pending
          - complete
          - failed
        createDate:
          $ref: '#/components/schemas/UtcTimestamp'
        updateDate:
          $ref: '#/components/schemas/UtcTimestamp'
    BusinessPayout:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        sourceWalletId:
          type: string
          description: The identifier of the source wallet used to fund a payout.
          example: '53535335'
        destination:
          $ref: '#/components/schemas/BankDestination'
        amount:
          $ref: '#/components/schemas/FiatMoney'
        toAmount:
          $ref: '#/components/schemas/FiatPayoutToMoney'
        fees:
          $ref: '#/components/schemas/FiatMoneyUsd'
        status:
          $ref: '#/components/schemas/PayoutStatus'
        trackingRef:
          description: A payout tracking reference. Will be present once known.
          nullable: true
          example: CIR-6ESOQANEP3NAO
        errorCode:
          $ref: '#/components/schemas/PayoutErrorCode'
        riskEvaluation:
          $ref: '#/components/schemas/RiskEvaluation'
        adjustments:
          $ref: '#/components/schemas/FinalAdjustments'
        return:
          $ref: '#/components/schemas/UnwithdrawalObject'
        createDate:
          $ref: '#/components/schemas/UtcTimestamp'
        updateDate:
          $ref: '#/components/schemas/UtcTimestamp'
    IdempotencyKey:
      type: string
      description: Universally unique identifier (UUID v4) idempotency key. This key
        is utilized to ensure exactly-once execution of mutating requests.
      format: uuid
      example: ba943ff1-ca16-49b2-ba55-1057e70ca5c7
    BusinessDestinationRequest:
      type: object
      description: The destination bank account.
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - wire
          - cbit
          - cubix
          - pix
          - sepa
          - sepa_instant
        id:
          $ref: '#/components/schemas/Id'
    BusinessPayoutCreationRequest:
      type: object
      required:
      - idempotencyKey
      - destination
      - amount
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        destination:
          $ref: '#/components/schemas/BusinessDestinationRequest'
        amount:
          $ref: '#/components/schemas/FiatMoney'
        toAmount:
          description: To be used when requesting currency exchange
          $ref: '#/components/schemas/FiatPayoutToMoney'
    ExternalFiatAccountStatus:
      description: Status of the account. A `pending` status indicates that the linking
        is in-progress; `complete` indicates the account was linked successfully;
        `failed` indicates it failed.
      type: string
      enum:
      - pending
      - complete
      - failed
    TransferTypeInfo:
      type: object
      required:
      - currencies
      description: Additional information for specific transfer type.
      properties:
        currencies:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/FiatCurrency'
        additionalProperties:
          description: Additional properties that apply to specific transfer type.
          type: object
          properties:
            transactionLimits:
              type: integer
              description: Transaction amount limit for the transfer type.
              example: 100000
    Fingerprint:
      type: string
      description: A UUID that uniquely identifies the account number. If the same
        account is used more than once, each card object will have a different id,
        but the fingerprint will stay the same.
      example: eb170539-9e1c-4e92-bf4f-1d09534fdca2
    BillingDetails:
      type: object
      required:
      - name
      - city
      - country
      - line1
      - postalCode
      properties:
        name:
          type: string
          description: Full name of the card or bank account holder.
          maxLength: 1024
          example: Satoshi Nakamoto
        city:
          type: string
          description: City portion of the address.
          maxLength: 1024
          example: Boston
        country:
          type: string
          description: Country portion of the address. Formatted as a two-letter country
            code specified in ISO 3166-1 alpha-2.
          maxLength: 2
          example: US
        line1:
          type: string
          description: Line one of the street address.
          maxLength: 1024
          example: 100 Money Street
        line2:
          type: string
          description: Line two of the street address.
          maxLength: 1024
          example: Suite 1
        district:
          description: State / County / Province / Region portion of the address.
            If the country is US or Canada, then district is required and should use
            the two-letter code for the subdivision.
          type: string
          maxLength: 16
          example: MA
        postalCode:
          type: string
          description: Postal / ZIP code of the address.
          maxLength: 16
          example: '01234'
    BankAddress:
      type: object
      description: The address details for the bank, as provided during bank account
        creation.
      required:
      - country
      properties:
        bankName:
          type: string
          description: Name of the bank. This property is required for bank accounts
            outside of the US that do not support IBAN'
          maxLength: 35
          example: SAN FRANCISCO
        city:
          type: string
          description: City portion of the address. This property is required for
            bank accounts outside of the US.
          maxLength: 35
          example: SAN FRANCISCO
        country:
          type: string
          description: Country portion of the address. Formatted as a two-letter country
            code specified in ISO 3166-1 alpha-2.
          maxLength: 2
          example: US
        line1:
          type: string
          description: Line one of the street address.
          maxLength: 35
          example: 100 Money Street
        line2:
          type: string
          description: Line two of the street address.
          maxLength: 35
          example: Suite 1
        district:
          type: string
          description: State / County / Province / Region portion of the address.
            US and Canada use the two-letter code for the subdivision.
          maxLength: 16
          example: CA
    Wire:
      type: object
      required:
      - id
      - status
      - description
      - trackingRef
      - fingerprint
      - billingDetails
      - createDate
      - updateDate
      - transferTypesInfo
      properties:
        id:
          $ref: '#/components/schemas/Id'
        status:
          $ref: '#/components/schemas/ExternalFiatAccountStatus'
        description:
          type: string
          description: Bank name plus last four digits of the bank account number
            or IBAN.
          example: WELLS FARGO BANK, NA ****0010
        trackingRef:
          type: string
          description: Wire tracking ref that needs to be set in the wire reference
            to beneficiary field.
          example: CIR13FB13A
        transferTypesInfo:
          type: object
          description: A <TransferType, TransferTypeInfo> map which shows transfer
            types supported on this account as well as additional information for
            each.
          additionalProperties:
            $ref: '#/components/schemas/TransferTypeInfo'
          example:
            wire:
              currencies:
              - USD
              - EUR
            rtgs:
              currencies:
              - USD
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        bankAddress:
          $ref: '#/components/schemas/BankAddress'
        createDate:
          $ref: '#/components/schemas/UtcTimestamp'
        updateDate:
          $ref: '#/components/schemas/UtcTimestamp'
    WireCreationRequestUs:
      type: object
      title: US Bank Account
      description: Relevant fields for U.S. bank accounts.
      required:
      - idempotencyKey
      - accountNumber
      - routingNumber
      - billingDetails
      - bankAddress
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        accountNumber:
          description: Account number that identifies the bank account.
          type: string
          example: '12340010'
          minLength: 6
          maxLength: 35
        routingNumber:
          description: ABA routing number for the bank account. Note this has to be
            specific for bank wire transfers.
          type: string
          example: '121000248'
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        bankAddress:
          $ref: '#/components/schemas/BankAddress'
    BankAddressIbanSupported:
      type: object
      description: The address of the bank. City and country fields are required.
      required:
      - city
      - country
      properties:
        bankName:
          type: string
          description: Name of the bank. This property is required for bank accounts
            outside of the US that do not support IBAN'
          maxLength: 35
          example: SAN FRANCISCO
        city:
          type: string
          description: City portion of the address. This property is required for
            bank accounts outside of the US.
          maxLength: 1024
          example: SAN FRANCISCO
        country:
          type: string
          description: Country portion of the address. Formatted as a two-letter country
            code specified in ISO 3166-1 alpha-2.
          maxLength: 2
          example: US
        line1:
          type: string
          description: Line one of the street address.
          maxLength: 35
          example: 100 Money Street
        line2:
          type: string
          description: Line two of the street address.
          maxLength: 35
          example: Suite 1
        district:
          type: string
          description: State / County / Province / Region portion of the address.
            US and Canada use the two-letter code for the subdivision.
          maxLength: 16
          example: CA
    WireCreationRequestIban:
      type: object
      title: Non US Bank Account - IBAN Supported
      description: Relevant fields for non-U.S. bank accounts that support IBAN.
      required:
      - idempotencyKey
      - iban
      - billingDetails
      - bankAddress
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        iban:
          description: International Bank Account Number (IBAN) for the bank account.
          type: string
          example: DE31100400480532013000
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        bankAddress:
          $ref: '#/components/schemas/BankAddressIbanSupported'
    BankAddressNonIban:
      type: object
      description: The address of the bank. BankName, City and Country fields are
        required.
      required:
      - bankName
      - city
      - country
      properties:
        bankName:
          type: string
          description: Name of the bank. This property is required for bank accounts
            outside of the US that do not support IBAN'
          maxLength: 35
          example: SAN FRANCISCO
        city:
          type: string
          description: City portion of the address. This property is required for
            bank accounts outside of the US.
          maxLength: 1024
          example: SAN FRANCISCO
        country:
          type: string
          description: Country portion of the address. Formatted as a two-letter country
            code specified in ISO 3166-1 alpha-2.
          maxLength: 2
          example: US
        line1:
          type: string
          description: Line one of the street address.
          maxLength: 35
          example: 100 Money Street
        line2:
          type: string
          description: Line two of the street address.
          maxLength: 35
          example: Suite 1
        district:
          type: string
          description: State / County / Province / Region portion of the address.
            US and Canada use the two-letter code for the subdivision.
          maxLength: 16
          example: CA
    WireCreationRequestAccountNumber:
      type: object
      title: Non US Bank Account - IBAN Not Supported
      description: Relevant fields for non-U.S. banks that do NOT support IBAN.
      required:
      - idempotencyKey
      - accountNumber
      - routingNumber
      - billingDetails
      - bankAddress
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        accountNumber:
          description: Account number that identifies the bank account.
          type: string
          example: 0321800123
          minLength: 6
          maxLength: 35
        routingNumber:
          description: The bank's SWIFT / BIC code.
          type: string
          example: SBININBB354
        billingDetails:
          $ref: '#/components/schemas/BillingDetails'
        bankAddress:
          $ref: '#/components/schemas/BankAddressNonIban'
    WireCreationRequest:
      type: object
      description: Request object used to create a bank account (wires). Different
        fields are required depending on the bank country, see the guide documentation
        for the list of supported bank countries along with which ones support IBAN.
      oneOf:
      - $ref: '#/components/schemas/WireCreationRequestUs'
      - $ref: '#/components/schemas/WireCreationRequestIban'
      - $ref: '#/components/schemas/WireCreationRequestAccountNumber'
    WireInstructionBeneficiary:
      type: object
      properties:
        name:
          type: string
          description: Name of the beneficiary.
          example: CIRCLE INTERNET FINANCIAL INC
        address1:
          type: string
          description: Address line 1 of the beneficiary's address.
          example: 99 HIGH STREET
        address2:
          type: string
          description: Address line 2 of the beneficiary's address.
          example: BOSTON MA 02110
    WireInstructionBeneficiaryBank:
      type: object
      properties:
        name:
          type: string
          description: Name of the beneficiary's bank.
          example: SILVERGATE BANK
        swiftCode:
          type: string
          description: SWIFT code of the beneficiary's bank account.
          example: SIVGUS66XXX
        routingNumber:
          type: string
          description: ABA Routing number of the beneficiary's bank account.
          example: '322286803'
        accountNumber:
          type: string
          description: Account number of the beneficiary's bank account.
          example: '****7427'
        currency:
          type: string
          description: Currency of the beneficiary's bank account.
          example: USD
        address:
          type: string
          description: Address of the beneficiary's bank.
          example: 4250 EXECUTIVE SQUARE SUITE 300
        city:
          type: string
          description: City of the beneficiary's bank.
          example: LA JOLLA
        postalCode:
          type: string
          description: Postal code of the beneficiary's bank.
          example: '02110'
        country:
          type: string
          description: Country code of the beneficiary's bank. Formatted as a two-letter
            country code specified in ISO 3166-1 alpha-2.
          example: US
    WireInstruction:
      type: object
      properties:
        trackingRef:
          type: string
          description: Circle tracking reference that needs to be set in the wire
            reference field.
          example: CIR13FB13A
        beneficiary:
          $ref: '#/components/schemas/WireInstructionBeneficiary'
        beneficiaryBank:
          $ref: '#/components/schemas/WireInstructionBeneficiaryBank'
    MockWirePaymentBeneficiaryBankInstruction:
      type: object
      required:
      - accountNumber
      properties:
        accountNumber:
          type: string
          description: Virtual account number or Circle corporate Silvergate Wire
            account number that needs to be set as destination.
          example: '11111111'
    MockWirePaymentRequest:
      type: object
      required:
      - trackingRef
      - amount
      - beneficiaryBank
      properties:
        trackingRef:
          type: string
          description: Wire tracking reference that needs to be set in the wire reference
            to beneficiary field. This field is retrievable through the response during
            wire creation or via the bank instruction endpoint.
          example: CIR13FB13A
        amount:
          $ref: '#/components/schemas/FiatMoneyUsd'
        beneficiaryBank:
          $ref: '#/components/schemas/MockWirePaymentBeneficiaryBankInstruction'
    MockWirePaymentResponse:
      type: object
      properties:
        trackingRef:
          type: string
          description: Wire tracking reference that needs to be set in the wire reference
            to beneficiary field. This field is retrievable through the response during
            wire creation or via the bank instruction endpoint.
          example: CIR13FB13A
        amount:
          $ref: '#/components/schemas/FiatMoneyUsd'
        beneficiaryBank:
          $ref: '#/components/schemas/MockWirePaymentBeneficiaryBankInstruction'
        status:
          type: string
          description: Enumerated status of the wire payment. Status `pending` indicates
            that the wire payment is in process; `processed` indicates it finished
            successfully; `failed` indicates it failed.
          enum:
          - pending
          - processed
          - failed
    CbitFiatAccountResponse:
      type: object
      required:
      - id
      - status
      - trackingRef
      - walletAddress
      - createDate
      - updateDate
      - transferTypesInfo
      properties:
        id:
          $ref: '#/components/schemas/Id'
        status:
          $ref: '#/components/schemas/ExternalFiatAccountStatus'
        trackingRef:
          type: string
          description: Tracking ref that needs to be set in the public description
            field when you send the funds to Circle CBIT wallet.
          example: CIR25XSXT8
        walletAddress:
          type: string
          description: Your CBIT wallet address.
          example: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
        transferTypesInfo:
          type: object
          description: A <TransferType, TransferTypeInfo> map which shows transfer
            types supported on this account as well as additional information for
            each. For CBIT accounts this will always only show information for CBIT
            transfers.
          additionalProperties:
            $ref: '#/components/schemas/TransferTypeInfo'
          example:
            cbit:
              currencies:
              - USD
        createDate:
          $ref: '#/components/schemas/UtcTimestamp'
        updateDate:
          $ref: '#/components/schemas/UtcTimestamp'
    CbitFiatAccountCreationRequest:
      type: object
      required:
      - idempotencyKey
      - walletAddress
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        walletAddress:
          type: string
          description: CBIT wallet address.
          example: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
    CbitInstruction:
      type: object
      properties:
        trackingRef:
          type: string
          description: Circle tracking reference that needs to be set in the CBIT
            public description field.
          example: CIR25XSXT8
        walletAddress:
          type: string
          description: Circle wallet address that needs to be set in the CBIT recipient
            wallet field.
          example: '0x7d8da35e03ef3a5ec5d5edbb961ef399dfb42d1e'
    CubixFiatAccountResponse:
      type: object
      required:
      - id
      - status
      - trackingRef
      - accountId
      - createDate
      - updateDate
      - transferTypesInfo
      properties:
        id:
          $ref: '#/components/schemas/Id'
        status:
          $ref: '#/components/schemas/ExternalFiatAccountStatus'
        trackingRef:
          type: string
          description: Tracking ref that needs to be set in the public description
            field when you send the funds to Circle's CUBIX account.
          example: CIR25XSXT8
        accountId:
          type: string
          format: uuid
          description: Your CUBIX Account ID.
          example: ff2212d7-8476-4d1e-9d95-eda6455f4f54
        transferTypesInfo:
          type: object
          description: A <TransferType, TransferTypeInfo> map which shows transfer
            types supported on this account as well as additional information for
            each. For CUBIX accounts this will always only show information for CUBIX
            transfers.
          additionalProperties:
            $ref: '#/components/schemas/TransferTypeInfo'
          example:
            cubix:
              currencies:
              - USD
        createDate:
          $ref: '#/components/schemas/UtcTimestamp'
        updateDate:
          $ref: '#/components/schemas/UtcTimestamp'
    CubixFiatAccountCreationRequest:
      type: object
      required:
      - idempotencyKey
      - accountId
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        accountId:
          type: string
          format: uuid
          description: Cubix Account ID.
          example: ff2212d7-8476-4d1e-9d95-eda6455f4f54
    CubixInstruction:
      type: object
      properties:
        trackingRef:
          type: string
          description: Circle tracking reference that needs to be set in the CUBIX
            public memo field.
          example: CIR25XSXT8
        accountId:
          type: string
          format: uuid
          description: Circle account ID that needs to be set in the CUBIX account
            ID field.
          example: ff2212d7-8476-4d1e-9d95-eda6455f4f54
    IdentityAddress:
      type: object
      required:
      - line1
      - city
      - district
      - postalCode
      - country
      properties:
        line1:
          type: string
          description: Line one of the street address.
          maxLength: 1024
          example: 100 Money Street
        line2:
          type: string
          description: Line two of the street address.
          maxLength: 1024
          example: Suite 1
        city:
          type: string
          description: City portion of the address.
          maxLength: 1024
          example: Boston
        district:
          description: State / County / Province / Region portion of the address.
            If the country is US or Canada, then district is required and should use
            the two-letter code for the subdivision.
          type: string
          maxLength: 16
          example: MA
        postalCode:
          type: string
          description: Postal / ZIP code of the address.
          maxLength: 16
          example: '01234'
        country:
          type: string
          description: Country portion of the address. Formatted as a two-letter country
            code specified in ISO 3166-1 alpha-2.
          maxLength: 2
          example: US
    Identity:
      type: object
      description: "The identity of the originator. Identities are required when:\n\
        \  * `destination.type: \"blockchain\"`\n  * `destination.chain: \"ETH\"`\n\
        \  * `amount.amount` >= $3,000 in value\n"
      required:
      - type
      - name
      - addresses
      properties:
        type:
          type: string
          description: 'The type of identity for the originator.

            * `individual` - A uniquely distinguishable individual.

            * `business` - Any entity other than a natural person that can establish
            a permanent customer relationship with an affected entity or otherwise
            own property. This can include companies, foundations, anstalt, partnerships,
            associations and other relevantly similar entities.

            '
          enum:
          - individual
          - business
        name:
          type: string
          description: Full name of the identity.
          example: Satoshi Nakamoto
          maxLength: 1024
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/IdentityAddress'
    TransferSourceWalletLocation:
      description: A source wallet location.
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - wallet
        id:
          type: string
          description: The id of the wallet.
          example: '12345'
        identities:
          type: array
          items:
            $ref: '#/components/schemas/Identity'
    Chain:
      type: string
      description: A blockchain that a given currency is available on.
      enum:
      - ALGO
      - ARB
      - AVAX
      - BASE
      - BTC
      - CELO
      - ETH
      - FLOW
      - HBAR
      - NEAR
      - NOBLE
      - OP
      - PAH
      - POLY
      - SOL
      - TRX
      - XLM
    TransferSourceBlockchainLocation:
      description: A source blockchain address.
      type: object
      required:
      - type
      - chain
      properties:
        type:
          type: string
          enum:
          - blockchain
        chain:
          $ref: '#/components/schemas/Chain'
        identities:
          type: array
          items:
            $ref: '#/components/schemas/Identity'
    TransferSourceLocation:
      description: A source of funds.
      oneOf:
      - $ref: '#/components/schemas/TransferSourceWalletLocation'
      - $ref: '#/components/schemas/TransferSourceBlockchainLocation'
    Address:
      type: string
      description: An alphanumeric string representing a blockchain address. Will
        be in different formats for different chains. It is important to preserve
        the exact formatting and capitalization of the address.
      example: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
    AddressTag:
      type: string
      description: The secondary identifier for a blockchain address. An example of
        this is the memo field on the Stellar network, which can be text, id, or hash
        format.
      nullable: true
      example: '123456789'
    TransferDestinationBlockchainLocation:
      description: A destination blockchain address.
      type: object
      required:
      - type
      - chain
      - address
      properties:
        type:
          type: string
          enum:
          - blockchain
        address:
          $ref: '#/components/schemas/Address'
        addressTag:
          $ref: '#/components/schemas/AddressTag'
        chain:
          $ref: '#/components/schemas/Chain'
    TransferDestinationWalletLocation:
      description: A destination wallet location.
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
          enum:
          - wallet
        id:
          type: string
          description: The id of the wallet.
          example: '12345'
        address:
          type: string
          description: An alphanumeric string which indicates the wallet address used
            to receive the transfer. Will only be set when the transfer source is
            a blockchain address.
          example: '0x8381470ED67C3802402dbbFa0058E8871F017A6F'
        addressTag:
          $ref: '#/components/schemas/AddressTag'
    TransferDestinationLocation:
      description: A destination of funds.
      oneOf:
      - $ref: '#/components/schemas/TransferDestinationBlockchainLocation'
      - $ref: '#/components/schemas/TransferDestinationWalletLocation'
    Fee:
      type: object
      required:
      - amount
      - currency
      - type
      properties:
        amount:
          type: string
          description: Magnitude of the fee amount, in units of the currency, with
            a `.`.
          example: '10.00'
        currency:
          type: string
          description: Currency code for the amount.
          enum:
          - USD
        type:
          type: string
          description: Category of the fee.
          enum:
          - network
    TransferErrorCode:
      type: string
      description: Indicates the failure reason of a transfer. Only present for transfers
        in a `failed` state. Possible values are `insufficient_funds`, `blockchain_error`
        and `transfer_denied` and `transfer_failed`
      nullable: true
      enum:
      - transfer_failed
      - transfer_denied
      - blockchain_error
      - insufficient_funds
    Transfer:
      type: object
      description: A transfer of funds.
      required:
      - id
      - source
      - destination
      - amount
      - status
      properties:
        id:
          $ref: '#/components/schemas/Id'
        source:
          $ref: '#/components/schemas/TransferSourceLocation'
        destination:
          $ref: '#/components/schemas/TransferDestinationLocation'
        amount:
          $ref: '#/components/schemas/Money'
        fees:
          description: An array of fees applied to a transaction. This is only available
            when there is at least one non-zero fee.
          type: array
          items:
            $ref: '#/components/schemas/Fee'
        transactionHash:
          description: A hash that uniquely identifies the onchain transaction. This
            is only available where either source or destination are of type blockchain.
          type: string
          example: '0x4cebf8f90c9243a23c77e4ae20df691469e4b933b295a73376292843968f7a63'
        status:
          description: Status of the transfer. Status `pending` indicates that the
            transfer is in the process of running; `complete` indicates it finished
            successfully; `failed` indicates it failed. Circle Mint Singapore customers
            may have transfers in the `pending` status if the recipient addresses
            are not verified.
          type: string
          enum:
          - pending
          - complete
          - failed
        errorCode:
          $ref: '#/components/schemas/TransferErrorCode'
        createDate:
          description: The create date of the transfer.
          type: string
          format: date-time
    TransferRequestVerifiedBlockchainLocation:
      type: object
      required:
      - type
      - addressId
      properties:
        type:
          type: string
          enum:
          - verified_blockchain
        addressId:
          type: string
          description: The ID of the verified blockchain recipient address.
          example: f1f36b85-cafe-484e-a46b-02340bfdb927
          format: uuid
    BusinessTransferCreationRequest:
      type: object
      required:
      - idempotencyKey
      - destination
      - amount
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        destination:
          $ref: '#/components/schemas/TransferRequestVerifiedBlockchainLocation'
        amount:
          $ref: '#/components/schemas/Money'
    Currency:
      type: string
      description: A currency associated with a balance or address.
      nullable: true
      enum:
      - USD
      - EUR
      - BTC
      - ETH
    AddressObject:
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        addressTag:
          $ref: '#/components/schemas/AddressTag'
        currency:
          $ref: '#/components/schemas/Currency'
        chain:
          $ref: '#/components/schemas/Chain'
    BusinessGenerateAddressRequest:
      type: object
      required:
      - idempotencyKey
      - currency
      - chain
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        currency:
          $ref: '#/components/schemas/Currency'
        chain:
          $ref: '#/components/schemas/Chain'
    AddressDescription:
      type: string
      description: An identifier or sentence that describes the recipient.
      example: My USDC address at a cryptocurrency exchange
    BusinessRecipientAddressObject:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/Id'
        address:
          $ref: '#/components/schemas/Address'
        addressTag:
          $ref: '#/components/schemas/AddressTag'
        chain:
          $ref: '#/components/schemas/Chain'
        currency:
          $ref: '#/components/schemas/Currency'
        description:
          $ref: '#/components/schemas/AddressDescription'
        status:
          type: string
          enum:
          - active
          - pending_verification
          - verification_succeeded
    BusinessRecipientAddressCreationRequest:
      type: object
      description: Adds a recipient address. The currency parameter will default to
        USD for all chains except for BTC where it defaults to BTC.
      required:
      - idempotencyKey
      - address
      - chain
      - description
      properties:
        idempotencyKey:
          $ref: '#/components/schemas/IdempotencyKey'
        address:
          $ref: '#/components/schemas/Address'
        addressTag:
          $ref: '#/components/schemas/AddressTag'
        chain:
          $ref: '#/components/schemas/Chain'
        currency:
          $ref: '#/components/schemas/Currency'
        description:
          $ref: '#/components/schemas/AddressDescription'
    WalletLocation:
      type: object
      required:
      - type
[...]
